/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
.heroTitle {
  background: -webkit-linear-gradient(315deg, var(--ifm-color-primary) 25%, var(--ifm-color-accent) 75%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons > iframe {
  border: 0;
  height: 30px;
  margin-left: 1rem;
  overflow: hidden;
  width: 135px;
}
